<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link href="assets/css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart: {{ cart.length }}</div>
      <product-details :premium="premium" @add-to-cart="updateCart">
      </product-details>
    </div>

    <!-- Add Vue Js cdn -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Import App -->
    <script src="assets/js/main.js"></script>
    <!-- Import Components -->
    <script src="components/ProductDetails.js"></script>
    <script src="components/ReviewFrom.js"></script>
    <script src="components/ReviewList.js"></script>
    <!-- Mount App -->
    <script>
     const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
